@import 'styles/mixins';

.content {
    padding: 20px 0;
    min-height: calc(100vh - 60px - 332px);

    @media (min-width: 768px) {
        padding: 40px 0;
        min-height: calc(100vh - 60px - 64px);
        @include center-section;
    }
}