$text-color: #161616;
$subtext-color: #7A7A7A;
$background-color: #FBFBFB;
$main-color: #E33A6D;
$separator-color: #D1D1D1;
$header-height: 60px;
$footer-mobile-height: 332px;
$footer-desktop-height: 64px;