@import 'styles/variables';
@import 'styles/mixins';

.header {
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    @include header-shadow;
}

.burger {
    display: none;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 0 15px;
    }

    .burger {
        display: flex;
    }
}