@import 'styles/variables';

.container {
    display: flex;
    gap: 8px;
}

.link {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.fb {
    background-image: url(../../../../../../public/images/fb-icon.svg);
}

.insta {
    background-image: url(../.././../../../../public/images/insta-icon.svg);
}

.twitter {
    background-image: url(../../.././../../../public/images/twitter-icon.svg);
}

.fb,
.insta,
.twitter {
    transition: all .4s ease-in-out;

    &:hover {
        filter: brightness(0) saturate(100%) invert(2%) sepia(14%) saturate(5%) hue-rotate(317deg) brightness(95%) contrast(86%);
    }
}

@media screen and (max-width: 767px) {
    .container {
        justify-content: center;
        gap: 32px;
    }

    .link {
        width: 40px;
        height: 40px;
        background-size: 30px 30px;
    }
}