@import 'styles/variables';

.container {
    display: flex;
    gap: 8px;
}

.link {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.fb {
    background-image: url(../../../../../../public/images/fb-icon.svg);
}

.insta {
    background-image: url(../.././../../../../public/images/insta-icon.svg);
}

.twitter {
    background-image: url(../../.././../../../public/images/twitter-icon.svg);
}

@media screen and (max-width: 767px) {
    .container {
        justify-content: center;
        gap: 32px;
    }
    .link {
        width: 40px;
        height: 40px;
        background-size: 30px 30px;
    }
}