@import 'styles/variables';
@import 'styles/mixins';

.navigation {
    list-style: none;
    display: flex;
    gap: 0 32px;
    padding: 0;
    margin: 0;
}

.link {
    text-transform: capitalize;
    @include hover;
}

@media screen and (max-width: 767px) {
    .navigation {
        flex-direction: column;
        gap: 20px 0;
        align-items: center;
    }
    
}