@import 'styles/variables';
@import 'styles/mixins';

.footer {
    @include center-section;
    display: grid;
    grid-template-areas:
        'nav'
        'social'
        'copyright';
    justify-content: center;
    align-content: space-between;
    min-height: 332px;
    padding: 20px 0;
    border-top: 1px solid $separator-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $subtext-color;
}

.copyright {
    grid-area: copyright;
    text-align: center;
}

@media (min-width: 768px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 64px;
        padding: 0;
    }
}